faiss-cpu
fastapi
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
numpy<2
openai
PyPDF2
python-dotenv
python-multipart
sentence-transformers
streamlit
uvicorn[standard]
